.avatar_img img{
    width:200px;
}
.profile_body{
    margin: 0 auto;
    border: 1px solid darkblue;
}
body{
    background-image: url("http://wallpapercave.com/wp/OF7FY9K.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_header{
    font-size:50px;
    font-family: 'Poiret One', cursive;
    color:maroon;
    margin: 0 auto;
}
#display_header{
    height: 10vh;
    width: 100vw;
    background-color: darkgrey;
    opacity: .5;
}
#display_header ul {
    font-family: 'Josefin Sans', sans-serif;
}
.nav-tabs{
    color:maroon;
}
.name{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
}
ol{
    list-style: none;
    font-family:'Open Sans Condensed', sans-serif;;
}
.video_display {
    margin: 20px auto;
}
#info{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.display_pic{
    height: 40vh;
    width: 60vw;
}
#pic_display{
    height: 80vh;
}
.video_title{
    font-size:15px;
    color:darkslateblue;
    font-family: 'Josefin Sans', sans-serif;
}
.video_title label {
    padding-right: 20px
}
.modal-title{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:60px;
}
@media (max-width: 480px) {
    .video_display iframe, .video_display embed {
        width: 250px;
        height: 210px;
    }
    .video_title{
        font-size:12px;
        color:darkslateblue;
        font-family: 'Josefin Sans', sans-serif;
    }
    .youtube_clip_area iframe, .youtube_clip_area embed{
        width: 300px;
        height: 210px;
    }
    #display_header{
        width:100%;
    }
    #display_header ul li{
        margin-left:26px;
    }
}
